<!-- <div class="profile">
    <div class="profile__header"><img class="profile__background"
            src="https://eumeps-powerparts.eu/thumbs/home/header-environment-400x200.jpg" /><img
            class="profile__picture" src="https://usercontent2.hubstatic.com/11352039.jpg" /></div>
    <div class="profile__content">
        <div class="profile__bio">
            <h3 class="profile__name">Name</h3>
            <p class="profile__info">American film actress known for her work in films like Lost in Translation, Vicky
                Cristina Barcelona, and Hitchcock.</p>
            <p>Speciality</p>
        </div>
        <div class="profile__links"><a class="profile__link" href="#"><i
                    class="profile__link__icon fa fa-map-marker"></i><span class="profile__link__text">New
                    York</span></a><a class="profile__link" href="#"><i
                    class="profile__link__icon fa fa-envelope"></i><span class="profile__link__text">Send Email
                </span></a></div>
        <div class="profile__twitter">
            <div class="profile__twitter__follow"><button class="profile__twitter__follow__button">Call <i
                        class="profile__link__icon far fa-paper-plane"></i></button></div>
        </div>
    </div>
</div> -->


<div class="contaainer-fluid w-75 mx-auto">
    <table class="table table-success table-striped table-responsive">
        <thead>
            <tr>
                <th scope="col"> &nbsp; </th>
                <th scope="col">Name</th>
                <th scope="col">Speciality</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col"> Call </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="../../../assets/user.png" alt="" srcset="" style="width:10%; display: inline;" class="bg-info rounded-circle"></td>
                <!-- <td>

                        <img src="../../../assets/user.png" alt="" srcset="" style="width:10%;" class="bg-info rounded-circle">
                </td> -->
                <td>Mark John</td>
                <td>Family</td>
                <td>@mdo</td>
                <td>07070707</td>
                <td>
                    <i class="fa fa-video"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>